@import 'variables';
@import 'mixins';
@import 'reset';
@import 'base';


// header section

header {
  width: 100%;
  @extend %flex-prop;
  div{
    width: 85%;
    padding: 30px 0;
    text-align: left;
    .logo{
      width: 30%;
      min-width: 150px;
      max-width: 260px;
      height: auto;
    }
  }
}

// search section

.search-panel{
  background: url('../assets/images/pattern.png') no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 10% 0 8% 0;
  @extend %flex-prop;
  .icon{
    width: 40%;
    height: auto;
    max-width: 280px;
    padding-bottom: 30px;
  }
  #search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    input{
      width: 65%;
      max-width: 330px;
      text-align: center;
      height: 25px;
    }
    .submit_btn{
      margin-left: -30px;
      border: none;
      font-size: 1.5em;
      transition: all 0.3s ease-out;
      background: white;
    }
    .submit_btn:hover{
      background: $grid-color;
    }
  }
}



// content section

.content{
  @extend %flex-prop;
  .content-img{
    width: 70%;
    height: auto;
  }
  #load-btn{
    font-size: 1.3em;
    padding: 5px 40px;
    background: $button-color;
    color:white;
    border: 2px solid #dbdbdb;
    text-align: center;
  }
}

// footer section
footer{
  @extend %flex-prop;
  margin-top: 20px;
  div{
    width: 85%;
    border-top: 1px solid $grid-color;
    text-align: center;
  }
}

.content-grid{
  width: 95%;
  margin: 20px 0;
  @extend %flex-prop;
  .image-list{
    margin: 0 auto;;
    width: 90%;
    border: 2px solid $grid-color;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:space-around;
    padding-left: 0;
  }
}
.abcd{
  width: 80%;
  height: auto;
  margin: 15px 0 10px 0;
  border: 2px solid $img-color;
  @include bp(tablet) {
		width: 28%;
	}
	@include bp(desktop) {
		width: 21%;
  }
  .img_photo{
    width: 100%;
    height: auto;
  }
}

.img_footer{
  display: flex;
  justify-content: space-between;
  padding: 5px 8px;
  border-top: 1px solid $img-color;
  img{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    @include bp(tablet) {
      width: 50px;
      height: 50px;
  	}
  	@include bp(desktop) {
      width: 40px;
      height: 40px;
    }
  };
}
  .img_info{
    width: 65%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    word-wrap: break-word;
    .img_info1{
      font-style: normal;
      font-weight: bold;
      font-size: 1.15em;
    }
    .img_info2{
    word-spacing: 1.1em;
    letter-spacing: .3em
    }
}
